<div class="container w-full  px-2 py-18 left-30">
    <ul>
        <li *ngIf="contractsPlan.peeContribution!==null" class="m-8" id="first-pan">
            <mat-expansion-panel class="bg-gray-50 py-2" [expanded]="true" (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>

                        <p class="title-size">Mon Plan d'épargne Entreprise PEE</p>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="container">
                    <mat-card class="p-8 m-8 item">
                        <div class="left-row-cls item container">
                            <mat-card-subtitle class="text-black w-full subtitle-size pb-4">Paramétres
                            </mat-card-subtitle>
                            <div class="item">
                                <p class="simple-text-size td-pading text-gray">type:</p>

                            </div>

                            <div class="item">

                                <p class="text-black td-pading simple-text-size"
                                   *ngIf="contractsPlan.peeContribution.rateSeniorityContribution !==null"> Par
                                    ancienneté</p>


                                <p class="text-black td-pading simple-text-size"
                                   *ngIf="contractsPlan.peeContribution.rateSimpleContribution !==null"> Simple</p>


                                <p class="text-black td-pading simple-text-size"
                                   *ngIf="contractsPlan.peeContribution.rateIntervalContributionFirst !==null"> Par
                                    paliers</p>

                            </div>

                            <div class="item" *ngIf="contractsPlan.peeContribution.rateSeniorityContribution !==null">
                                <p class="td-pading text-gray  simple-text-size">Taux:</p>
                            </div>

                            <div class="item" *ngIf="contractsPlan.peeContribution.rateSeniorityContribution !==null">
                                <p class="text-black td-pading simple-text-size">{{ contractsPlan.peeContribution.rateSeniorityContribution }}
                                    %</p>
                            </div>

                            <div class="w-full">
                                <p class="td-pading text-gray  subtitle-size">Plafond:</p>
                            </div>


                            <!-- Seniority CONTRIBUTION -->
                            <div class="container item">
                                <ng-container *ngIf="contractsPlan.peeContribution.rateSeniorityContribution !==null">
                                    <div class="item">
                                        <p class="td-double-pading text-gray simple-text-size">< 1 an:</p>
                                    </div>
                                    <div class="item">
                                        <p class="text-black td-pading simple-text-size">{{ contractsPlan.peeContribution.ceilingSeniorityContributionLessYear }}
                                            €</p>

                                    </div>


                                    <div class="item">
                                        <p class="td-double-pading text-gray simple-text-size">de 1 an à 3 ans:</p></div>

                                    <div class="item">
                                        <p class="td-pading simple-text-size">{{ contractsPlan.peeContribution.ceilingSeniorityContributionBetween1And3 }}
                                            €</p>
                                    </div>

                                    <div class="item">
                                        <p class="td-double-pading text-gray simple-text-size">de 3 ans à 5 ans:</p></div>


                                    <div class="item">
                                        <p class="td-pading simple-text-size ">{{ contractsPlan.peeContribution.ceilingSeniorityContributionBetween3And5 }}
                                            €</p>

                                    </div>

                                    <div class="item">
                                        <p class="td-double-pading text-gray simple-text-size">Aprés 5 ans:</p></div>

                                    <div class="item">
                                        <p class="td-pading simple-text-size">{{ contractsPlan.peeContribution.ceilingSeniorityContributionGreater5 }}
                                            €</p>

                                    </div>
                                </ng-container>
                            </div>


                           <div class="w-full simple-text-size">
                               <!-- SIMPLE CONTRIBUTION -->
                               <div *ngIf="contractsPlan.peeContribution.rateSimpleContribution !==null"
                                    class="container item">

                                   <div class="w-full">
                                       <p class="text-black simple-text-size td-pading">{{ contractsPlan.peeContribution.ceilingSimpleContribution }}
                                           €</p>
                                   </div>
                                   <div class="item simple-text-size "
                                        *ngIf="contractsPlan.peeContribution.rateSimpleContribution !==null">
                                       <p class="td-pading simple-text-size text-gray">Taux:
                                       </p>
                                   </div>

                                   <div class="item">
                                       <p class="text-black td-pading simple-text-size">{{ contractsPlan.peeContribution.rateSimpleContribution }}
                                           %</p>
                                   </div>
                               </div>


                               <!-- Levels CONTRIBUTION -->
                               <div *ngIf="contractsPlan.peeContribution.rateIntervalContributionFirst !==null"
                                    class="container">
                                   <!-- Levels 1 -->
                                   <div class="container w-full">
                                       <div class="item">
                                           <p class="td-double-pading text-gray">De {{ 0 }}
                                               à {{ contractsPlan.peeContribution.intervalContributionFirst }}
                                               € :</p>
                                       </div>

                                       <div class="item td-double-pading">
                                           <div class="container">
                                               <p class="text-black ">{{ contractsPlan.peeContribution.ceilingIntervalContributionSecond }}
                                                   €</p>
                                               <p class="  text-gray">Taux:</p>
                                               <p class=" text-black ">{{ contractsPlan.peeContribution.rateIntervalContributionFirst }}
                                                   %</p>
                                           </div>


                                       </div>


                                   </div>


                                   <!-- Levels 2 -->
                                   <div class="container w-full">
                                       <div class="item">
                                           <p class="td-double-pading text-gray">
                                               De {{ contractsPlan.peeContribution.intervalContributionFirst }}
                                               € à {{ contractsPlan.peeContribution.intervalContributionSecond }}
                                               €:</p>
                                       </div>
                                       <div class="item td-double-pading">
                                           <div class="container">
                                               <p class="text-black ">{{ contractsPlan.peeContribution.ceilingIntervalContributionSecond }}
                                                   €</p>
                                               <p class=" text-gray">Taux:</p>
                                               <p class=" text-black ">{{ contractsPlan.peeContribution.rateIntervalContributionSecond }}
                                                   %</p>
                                           </div>
                                       </div>
                                   </div>


                                   <!-- Levels 3 -->
                                   <div class="container w-full">
                                       <div class="item">
                                           <p class="td-double-pading text-gray">
                                               De {{ contractsPlan.peeContribution.intervalContributionSecond }}
                                               € à {{ contractsPlan.peeContribution.intervalContributionThird}}
                                               €:</p>
                                       </div>
                                       <div class="item td-double-pading">
                                           <div class="container">
                                               <p class="text-black">{{ contractsPlan.peeContribution.ceilingIntervalContributionThird }}
                                                   €</p>
                                               <p class=" text-gray">Taux:</p>
                                               <p class=" text-black">{{ contractsPlan.peeContribution.rateIntervalContributionThird }}
                                                   %</p>
                                           </div>
                                       </div>

                                   </div>


                               </div>
                           </div>
                        </div>
                    </mat-card>

                    <!-- ... other ... -->

                    <mat-card class="p-8 m-8 item">
                        <div class="right-row-cls item container item">
                            <div class="item">
                                <mat-card-subtitle class="text-black subtitle-size">Versements:</mat-card-subtitle>
                            </div>
                            <div class="item"></div>

                            <div class="item">
                                <p class="td-pading text-gray simple-text-size">Versement volontaire:</p>

                            </div>

                            <div class="item">
                                <p class="td-pading simple-text-size">{{ contractsPlan.peeContribution.peeVoluntaryDepositAccepted ? 'Oui' : 'Non' }}</p>
                            </div>

                            <div class="item">
                                <p class="td-pading text-gray simple-text-size">Participation:</p>

                            </div>

                            <div class="item">
                                <p class="td-pading simple-text-size">{{ contractsPlan.peeContribution.peeProfitSharingAccepted ? 'Oui' : 'Non' }}</p>
                            </div>

                            <div class="item">
                                <p class="td-pading text-gray simple-text-size">Interessement:</p>

                            </div>
                            <div class="item">
                                <p class="td-pading simple-text-size">{{ contractsPlan.peeContribution.peeInterestAccepted ? 'Oui' : 'Non' }}</p>
                            </div>
                        </div>
                    </mat-card>


                </div>


            </mat-expansion-panel>
        </li>
        <li *ngIf="contractsPlan.perecoContribution!==null" class="m-8" id="second-pan">
            <mat-expansion-panel class="bg-gray-50 py-2" [expanded]="true" (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <p class="title-size">Mon Plan d'épargne Retraite Collaboratif PERECO</p>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="container">
                    <mat-card class="p-8 m-8 item">
                        <div class="left-row-cls item container">
                            <mat-card-subtitle class="text-black subtitle-size pb-4">Paramétres</mat-card-subtitle>

                            <div class="item"></div>

                            <div class="item">
                                <p class="simple-text-size td-pading text-gray">type:</p>
                            </div>

                            <div class="item">
                                <div *ngIf="contractsPlan.perecoContribution.rateSeniorityContribution !==null">
                                    <p class="text-black td-pading simple-text-size"> Par ancienneté</p>
                                </div>
                                <div *ngIf="contractsPlan.perecoContribution.rateSimpleContribution !==null">
                                    <p class="text-black td-pading simple-text-size"> Simple</p>
                                </div>
                                <div *ngIf="contractsPlan.perecoContribution.rateIntervalContributionFirst !==null">
                                    <p class="text-black td-pading simple-text-size"> Par paliers</p>
                                </div>
                            </div>

                            <div class="item">
                                <ng-container
                                    *ngIf="contractsPlan.perecoContribution.rateSeniorityContribution !==null">
                                    <p class="td-pading text-gray simple-text-size">Taux:</p>
                                </ng-container>
                            </div>

                            <div class="item">
                                <ng-container
                                    *ngIf="contractsPlan.perecoContribution.rateSeniorityContribution !==null">
                                    <p class="text-black td-pading simple-text-size">{{ contractsPlan.perecoContribution.rateSeniorityContribution }}
                                        %</p>
                                </ng-container>
                            </div>

                            <div class="w-full">
                                <p class="td-pading text-gray  subtitle-size">Plafond:</p>
                            </div>


                            <!-- Seniority CONTRIBUTION -->
                            <div class="container item">
                                <ng-container
                                    *ngIf="contractsPlan.perecoContribution.rateSeniorityContribution !==null">
                                    <div class="item">
                                        <p class="td-double-pading text-gray">< 1 an:</p>
                                    </div>
                                    <div class="item">
                                        <p class="text-black td-pading">{{ contractsPlan.perecoContribution.ceilingSeniorityContributionLessYear }}
                                            €</p>

                                    </div>


                                    <div class="item">
                                        <p class="td-double-pading text-gray">de 1 an à 3 ans:</p></div>

                                    <div class="item">
                                        <p class="td-pading">{{ contractsPlan.perecoContribution.ceilingSeniorityContributionBetween1And3 }}
                                            €</p>
                                    </div>

                                    <div class="item">
                                        <p class="td-double-pading text-gray">de 3 ans à 5 ans:</p></div>


                                    <div class="item">
                                        <p class="td-pading ">{{ contractsPlan.perecoContribution.ceilingSeniorityContributionBetween3And5 }}
                                            €</p>

                                    </div>

                                    <div class="item">
                                        <p class="td-double-pading text-gray">Aprés 5 ans:</p></div>

                                    <div class="item">
                                        <p class="td-pading">{{ contractsPlan.perecoContribution.ceilingSeniorityContributionGreater5 }}
                                            €</p>

                                    </div>
                                </ng-container>
                            </div>


                            <div class="w-full">
                                <!-- SIMPLE CONTRIBUTION -->
                                <div *ngIf="contractsPlan.perecoContribution.rateSimpleContribution !==null"
                                     class="container item">

                                    <div class="w-full">
                                        <p class="text-black simple-text-size td-pading">{{ contractsPlan.perecoContribution.ceilingSimpleContribution }}
                                            €</p>
                                    </div>
                                    <div class="item simple-text-size "
                                         *ngIf="contractsPlan.perecoContribution.rateSimpleContribution !==null">
                                        <p class="td-pading simple-text-size text-gray">Taux:
                                        </p>
                                    </div>

                                    <div class="item">
                                        <p class="text-black td-pading">{{ contractsPlan.perecoContribution.rateSimpleContribution }}
                                            %</p>
                                    </div>
                                </div>


                                <!-- Levels CONTRIBUTION -->
                                <div *ngIf="contractsPlan.perecoContribution.rateIntervalContributionFirst !==null"
                                     class="container">
                                    <!-- Levels 1 -->
                                    <div class="container w-full">
                                        <div class="item">
                                            <p class="td-double-pading text-gray">De {{ 0 }}
                                                à {{ contractsPlan.perecoContribution.intervalContributionFirst }}
                                                € :</p>
                                        </div>

                                        <div class="item td-double-pading">
                                            <div class="container">
                                                <p class="text-black ">{{ contractsPlan.perecoContribution.ceilingIntervalContributionSecond }}
                                                    €</p>
                                                <p class=" text-gray">Taux:</p>
                                                <p class="text-black ">{{ contractsPlan.perecoContribution.rateIntervalContributionFirst }}
                                                    %</p>
                                            </div>


                                        </div>


                                    </div>


                                    <!-- Levels 2 -->
                                    <div class="container w-full">
                                        <div class="item">
                                            <p class="td-double-pading text-gray">
                                                De {{ contractsPlan.perecoContribution.intervalContributionFirst }}
                                                € à {{ contractsPlan.perecoContribution.intervalContributionSecond }}
                                                €:</p>
                                        </div>
                                        <div class="item td-double-pading">
                                            <div class="container">
                                                <p class="text-black ">{{ contractsPlan.perecoContribution.ceilingIntervalContributionSecond }}
                                                    €</p>
                                                <p class=" text-gray">Taux:</p>
                                                <p class="text-black ">{{ contractsPlan.perecoContribution.rateIntervalContributionSecond }}
                                                    %</p>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- Levels 3 -->
                                    <div class="container w-full">
                                        <div class="item">
                                            <p class="td-double-pading text-gray">
                                                De {{ contractsPlan.perecoContribution.intervalContributionSecond }}
                                                € à {{ contractsPlan.perecoContribution.intervalContributionThird}}
                                                €:</p>
                                        </div>
                                        <div class="item td-double-pading">
                                            <div class="container">
                                                <p class="text-black">{{ contractsPlan.perecoContribution.ceilingIntervalContributionThird }}
                                                    €</p>
                                                <p class="text-gray">Taux:</p>
                                                <p class="text-black">{{ contractsPlan.perecoContribution.rateIntervalContributionThird }}
                                                    %</p>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>


                        </div>
                    </mat-card>

                    <!-- ... Versement ... -->

                    <mat-card class="p-8 m-8 item">
                        <div class="right-row-cls item container item">
                            <div class="item">
                                <mat-card-subtitle class="text-black subtitle-size">Versements:</mat-card-subtitle>
                            </div>
                            <div class="item"></div>

                            <div class="item">
                                <p class="td-pading text-gray simple-text-size">Versement volontaire:</p>
                            </div>

                            <div class="item">
                                <p class="td-pading simple-text-size">{{ contractsPlan.perecoContribution.perecoVoluntaryDepositAccepted ? 'Oui' : 'Non' }}</p>
                            </div>

                            <div class="item">
                                <p class="td-pading text-gray simple-text-size">Participation:</p>
                            </div>

                            <div class="item">
                                <p class="td-pading simple-text-size">{{ contractsPlan.perecoContribution.perecoProfitSharingAccepted ? 'Oui' : 'Non' }}</p>
                            </div>

                            <div class="item">
                                <p class="td-pading text-gray simple-text-size">Interessement:</p>
                            </div>

                            <div class="item">
                                <p class="td-pading simple-text-size">{{ contractsPlan.perecoContribution.perecoInterestAccepted ? 'Oui' : 'Non' }}</p>
                            </div>

                            <div class="item">
                                <p class="td-pading text-gray simple-text-size">Compte épargne temps:</p>
                            </div>

                            <div class="item">
                                <p class="td-pading simple-text-size">{{ contractsPlan.perecoContribution.perecoTimeSavingAccountAccepted ? 'Oui' : 'Non' }}</p>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </mat-expansion-panel>
        </li>
    </ul>
</div>
